<h1>IDEAS</h1>
{{#each ideas}}

<h1>{{{title}}}</h1>

<h4>{{{details}}}</h4>

<button>
    <a href='/ideas/edit/{{id}}'>
    edit
</a>
</button>
<form method="post" action="/ideas/{{id}}?
_method=DELETE" 
>
<input type='hidden' name='_method'
  value="DELETE" />
<input type='submit'value='delete'  />
</form>
<br><br><br>
{{else}}
<p>noting for data base</p>

{{/each}}